In [1]:
#1
print('Hello Python')

Hello Python

In [16]:
#2
a= int(input('enter ur first number '))
b= int(input('enter ur second number '))

if b==0:
  add = a+b
  print('addition ',add)
  print('we. cannot divide aything with 0')

else :
  add = a+b
  dev = a/b
  print('addition ',add)
  print('dev ',dev)

enter ur first number 0
enter ur second number 3
addition  3
dev  0.0

In [20]:
#3
s = int(input('enter the base '))
r = int(input('enter the height '))

area = 0.5*(s*r)
print('area of triangel is ',area)

enter the base 20
enter the height 10
area of triangel is  100.0

In [29]:
#4
a= int(input('enter ur first number '))
b= int(input('enter ur second number '))

print('current value of a is ',a,'current value of b is ',b)

a= a+b
b= a+b+a

print('value of a after swapping is ',a,'value of b after swapping is ',b)

enter ur first number 1
enter ur second number 4
current value of a is  1 current value of b is  4
value of a after swapping is  5 value of b after swapping is  14

In [46]:
#5
import random
a = int(input('enter your ranger'))

l = []
for i in range(a):
  l.append(i)

randon_number = random.choice(l)
print('randon nuber', randon_number )

enter your ranger4
randon nuber 2